<div class="container">
  <div class="trending-recommended">
    <a href="#">
      <img src="../assets/icons/trending.svg" alt="Trending">
      <span>Trending</span>
    </a>
    <a href="#">
      <img src="../assets/icons/recommended.svg" alt="Recommended">
      <span>Recommended</span>
    </a>
  </div>
  <div class="page-instruments">
    <div class="search-container">
      <input class="search-input" type="text" placeholder="type your search here...">
      <a href="#"><img src="../assets/icons/search.svg" alt=""></a>
    </div>
    <div class="page-pagination">
      <a href="#" class="arrow prev">
        <img src="../assets/icons/arrow.svg" alt="Prev">
      </a>
      <div class="numbers">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#" class="more-pages">...</a>
        <a href="#">10</a>
      </div>
      <a href="#" class="arrow next">
        <img src="../assets/icons/arrow.svg" alt="Next">
      </a>
    </div>
    <div class="show-products">
      <span>Show products</span>
      <select name="products" id="products">
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="150">150</option>
      </select>
    </div>
  </div>
  <div class="content">
    <h4 class="grid-title">Recommended</h4>
    <div class="video-grid">
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <a class="icon-bookmark" href="#"><img src="../assets/icons/bookmark.svg" alt=""><span>add to
              bookmark</span></a>
          <a class="icon-follow" href="#"><img src="../assets/icons/icon-2.svg" alt=""><span>Follow</span></a>
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="video-elem">
        <div class="img-wrapper">
          <img src="../assets/img/model.jpg" alt="Model">
          <span class="new">new</span>
          <span class="duration">15:25</span>
          <span class="coins">30 coins</span>
        </div>
        <div class="description">
          <img src="../assets/img/user.jpg" alt="User">
          <div class="texts">
            <p class="title">Lorem ipsum dolor sit amet, mei
              te veniam diceret bonorum.</p>
            <p class="author">Andreea Popescu</p>
            <div class="views-date">
              <span class="views"><span>1k</span> views</span>
              <span class="date">August 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-menu">
      <a href="#" class="active">
        <img src="../assets/icons/recent.svg" alt="Most recent">
        <span>Most recent</span>
      </a>
      <a href="#">
        <img src="../assets/icons/filters.svg" alt="Filters">
        <span>Filters</span>
      </a>
      <a href="#">
        <img src="../assets/icons/subscriptions.svg" alt="Subscriptions">
        <span>Subscriptions</span>
      </a>
      <a href="#">
        <img src="../assets/icons/history.svg" alt="History">
        <span>History</span>
      </a>
    </div>
  </div>
</div>